.pokemon-details-wrapper{
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
}

.left-column{
    grid-column: span 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
}
.right-column{
    grid-column: span 7;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.classification-specs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    gap: 12px;
}

.pokemon-title{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;

}